<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Générateur de QR Code</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">

        <h2>Générer un QR Code</h2>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form action="/generate" method="POST">

            <label>Lien à convertir :</label><br>
            <input type="text" name="link" placeholder="https://exemple.com" required>

            <label>Nom du fichier :</label><br>
            <input type="text" name="filename" placeholder="qrcode" required>

            <button type="submit">Générer</button>
        </form>

        {% if qr_path %}
        <div class="qr-box">
            <br><br><h2>QR Code généré :</h2>
            <img src="{{ qr_path }}" alt="QR Code">
            <p class="filename-display">{{ filename }}</p>

            <a href="/download/{{ filename }}">
                <br><br><button class="download-btn">Télécharger</button>
            </a>
        </div>
        {% endif %}
    </div>
</body>
</html>